<configuration>
    <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--
            <pattern>[%date{ISO8601}] [%level] [%logger] [%thread] [%X{akkaSource}] - %msg%n</pattern>
              -->
            <pattern>%d{HH:mm:ss} %-5level %logger{10} - %msg%n</pattern>

        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>1024</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="STDOUT"/>
    </appender>
    <logger name="org.apache.flink.metrics.MetricGroup" level="ERROR"/>
    <logger name="org.apache.flink.runtime.webmonitor.WebMonitorUtils" level="ERROR"/>
    <logger name="com.github.bekisz.multiverse.core.udf.Error" level="ERROR"/>
    <logger name="com.github.bekisz.multiverse" level="DEBUG"/>

    <root level="WARN">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
